body{
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    color: white;
    font-size: 25px;
    background-color: black;
}
p{
    font-weight: 300;
}
h1{
    font-style: normal;
    font-family: Cursive;
    font: normal;
    color: white;
}
h4{
    font-family: 'Roboto' sans-serif;
    font-weight: 300;
    color: gray;
}
a{
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: white;

}
h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: large;
}
.nav-enlace{
    background-color: red;
    color: whitesmoke;
    padding: 8px 25px;
    text-decoration: none;
    border-radius: 5px;
}
.nav-enlace:hover{
    color: pink;
    background: grey;
}
nav{
    background: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.nav-button{
    background: red;
    color: whitesmoke;
    padding: 10px 0;
    border: 2px solid whitesmoke;
    display: none;
    margin: 5px;
    border-radius: 5px;
}
.darkMode{
    background: red;
    color: whitesmoke;
    padding: 10px 0;
    border: 2px solid whitesmoke;
}
.flex{
    display: flex;
}
@media (max-width: 1000px) {
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-button{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
} 
.dark-mode {
    background-color: black;
    color: white;
}
.text-center{
    text-align: center;
}
.nombre{
    font-size: 50px;
    color: rgb(35, 163, 236);
}
.columna{
    background-color: rgb(236, 220, 128);
    color: white;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888;
    width: 24%;
    box-sizing: border-box;
}
.contact{
    background-color: salmon;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}
.contact:hover{
    background-color: red;
    color: black;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.toggleDarkMode{
    background-color: salmon;
    padding: 10px; 
    color: black;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px; 
}
.toggleDarkMode:hover{
    background-color: red;
}

